In [5]:
import os
import pandas as pd
# openpyxl is required for pandas to read excel files

input_file ="/Users/SongWang/work/data/query_types/Classification of Queries in QuerySkills - AIC2.xlsx"
# read all the sheets
df = pd.read_excel(input_file, sheet_name=None)

In [8]:
print(df.keys())

dict_keys(['unanswerable-queries', 'other - query skills', 'overall summary skills', 'all action items skills', 'all topics skills', 'am i mentioned skills', 'top freuqent queries', 'Sheet8_conflict1523315519', 'top100-dg01', 'top100-us01'])

In [11]:
df_top100_dg = df['top100-dg01']
df_top100_dg[:10]

,query,queryCount,sortNum,userCount
0,Prepare for this meeting.,3137,1,189
1,Help me prepare for my upcoming meetings.,1936,2,181
2,Summarize one of my recent meetings.,546,3,158
3,Write a blog post introducing new AI features.,422,4,210
4,Summarize this meeting.,384,5,98
5,Brainstorm ideas for a fun team bonding activity.,376,6,218
6,hi,310,7,46
7,Prepare for my remaining meetings today,232,8,9
8,help,222,9,182
9,summarize this channel,221,10,24